.Text {
    display: flex;
    flex-direction: column;

    &__text {
        font: var(--font-m);
    }

    &.align {
        &-start {
            align-items: start;
        }

        &-center {
            align-items: center;
        }

        &-end {
            align-items: end;
        }
    }

    &.primary {
        .Text__text {
            color: var(--color-primary-black);
        }
    }

    &.error {
        .Text__text {
            color: var(--color-error);
        }
    }
}