.AppLink {
    transition: all .1s linear;

    &.small {
        padding: 10px 15px;
        border-radius: 7px;
    }

    &.primary {
        color: var(--color-white);
        background-color: var(--color-orange);
        border: 1px solid var(--color-orange);
    }

    &.second {
        color: var(--color-second-black);
        border: 1px solid var(--color-second-black);
    }

    &.outline {
        color: var(--color-grey);
    }

    &:hover {
        opacity: .7;
    }
}
